.container { width:100% !important; }

body {
    color: #333;
    background: #f6f6f6;
    width: 980px;
    margin: auto;
}

#notebook_panel { /* main background */
    color: #f6f6f6;
    margin: auto;
}

div #notebook { /* center the content */
    background: #4b4b4b;
    color: #333;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2ex;
    text-align: justify;
}

#notebook li { /* More space between bullets. */
    margin-top: 0.8em;
}

div.text_cell {
    text-align: justify;
    width: 105ex /* instead of 100%, */
}

div.text_cell_render{
    text-align: justify;
    padding: 0em 1em 0em 1em;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 145%; /* added for some line spacing of text. */
    width: 842px;      /* instead of 'inherit' for shorter lines */
    font-weight: Light;
    font-size: 13pt;
}

div.text_cell_render.border-box-sizing.rendered_html {
    margin: 0;
    padding: 1em;
    margin-left: 4ex;
    text-align: justify;
}
div.cell.text_cell.border-box-sizing {
    margin: 0;
    padding: 0;
    text-align: justify;
}
.rendered_html h1 { /* Main titles big with more space*/
    margin-top: 2.2em;
    line-height: 1.4em;
    margin-bottom: 0.1em;
    padding: 0;
    font-family: "Open Sans", Sans-Serif;
    font-weight: Light;
}
.rendered_html h2 {
    margin-top:2.0em;
    margin-bottome:0.0em;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Sans-Serif; font-weight: Light;
}
.rendered_html h3 {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Sans-Serif; font-weight: Light;
}

div.cell { /* set cell width to about 80 chars */
    margin-top:1em;
    margin-bottom:1em;
    margin-left:auto;
    margin-right:auto;
    width: 842px;
    text-align: justify;
}

.cell.command_mode.selected {
    border-color: rgba(0,0,0,0.1);
}

.cell.edit_mode.selected {
    border-color: rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px #f0f0f0;
    -webkit-box-shadow: 0px 0px 5px #f0f0f0;
}

div.cell.code_cell {  /* Area containing both code and output */
background-color: #FFF;
border-radius: 10px;
border-style: solid;
border-width: 1px;
border-color: gray;
padding: 1em;
}

div.cell.selected { /* Current cell */
    border-radius: 5px;
    border-color: #1E90FF;  /* Dodger blue*/
    border-width: 2px;
}

div.cell.running{ /* Cell the is running */
     border: 3px dashed #f33;
}


div.input_area { /* box around box with code */
    border: none;
    background: #f5f5f5;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    padding-left: 0.5em;
}

div.input { /* box with code */
    width: 810px;
}

div.CodeMirror { /* code font */
    font-family: "Droid Sans Mono", monospace;
    font-size: 12pt;
}

div.prompt { /* remove In/Out prompt */
    display: none;
}

div.cell.border-box-sizing.code_cell.rendered {
    font-size: 12pt;
}

div.output_subarea {
    border:none;
    font-size: 12pt;
}

/* Turn off toggle cel output button. */
div.out_prompt_overlay  {
	height: 0%;
}


/* header colors and fonts */
h1 { color: #444; }
h2 { color: #444; }
h3 { color: #444; font-style: italic; font-weight: normal}
