body {text-align: center}

a img {border: none}

p {
    margin: 0 25px 0 0;
    font-size: 1.25em;
    text-align: justify;
  }



/* style to center website */
#wrap {
    text-align:left;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    background: #F1F2D8;
    color: #1B1D26;
    font: small "Lucida Grande", Arial, sans-serif;
}

/* header styles */
#masthead {
    margin-bottom: 0;
    padding-top: 0;
    width: 100%;
    max-width: 700px;
    background: #1B1D26;
    text-align:right;
}

#secondhead {
    margin-bottom: 0;
    border-top: 1px #1B1D26;
    border-bottom: double #1B1D26;
    padding-top: 10px;
    padding-bottom:10px;
    width: 100%;
    max-width:700px;
    background: #425955;
    text-align:left;
    text-indent:1.0em;
    color: #F1F2D8;
}

#navlinks {
    margin: 0em;
    padding: 0.5em 0.5em;
    background: #1B1D26;
    color: #BFBD9F;
}

#navlinks li {
    display: inline;
    margin-right: 0.25em; margin-left: 0em; padding-right: 0.75em; padding-left: 0em;
    border-right: 1px solid #FFF;
    font-weight: bold;
}

#navlinks li.current {
    color: #F1F2D8;
}

#navlinks li.last {
    border-right: 0;
}

#navlinks li.currentlast {
    color: #EDB550;
    border-right: 0;
}

#navlinks a {
    text-decoration: none;
    color: #778C7A;
}

#navlinks a.hover {
    color: #000000
}

#today {
    margin-top: -1.66em; padding: 0 3em 0 0;
    color: #FFF;
    font-weight: bold;

    text-align: right;
    line-height: 1;
}

/* body styles */

#content {
    width: 100%;
    max-width:700px;
    margin:0px auto;
    text-align:left;
    padding:15px;
}

#content h1 {
    margin: 1em 0 0.5em 0;
    padding-bottom: 0.25em;
    padding-right: 2.5em;
    border-bottom: 1px solid #585858;
    font-size: 1.75em;
    text-align: left;
    max-width: 600px;
    color: #425955;
}

#content h2 {
    margin: 2em 0 0.5em 0;
    padding-bottom: 0.0em;
    padding-right: 2.5em;
    font-size: 1.75em;
    text-align: left;
    max-width: 600px;
    color: #585858;
}

#content img.illus {
    float: left;
    margin: 1em 1em 1em 0;
}

#content a{
    text-decoration: none;
    font-weight: bold;
    color: #425955;
}

#content a.hover{

}

#contentfull {
    float: left;
    padding: 1.5em 4em 4em 3em;
}

#contentfull h1 {
    margin: 0em 0;
    padding-bottom: 0.25em;
    border-bottom: 1px solid #F37221;
    font-size: 1.5em;
}

#contentfull img.illus {
    float: left;
    margin: 1em 1em 1em 0;
}


/* Image with caption */
.leftfigure {
    float: left;
    margin: 0.5em;
}
.leftfigure p {
    color: #1B1D26;
}

.rightfigure {
    float: right;
    margin: 0.5em;
}
.rightfigure p {
    color: #1B1D26;
}


/* Image with caption */
.leftimage {
    float: left;
    margin: 2em;
}

.rightimage {
    float: right;
    margin: 2em;
    clear: both;
}



/* Inner and outer divs (useful for centering inner div) */
.outer {
    width:100%;
}

.inner {
    width: 90%;
    margin: auto auto auto auto;
}


/* Lists (for publications, policies, and lectures) */
.leclist {
    margin: 0.25em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    list-style-type: none;
}
.leclist li{
    margin: 0.25em 1.25em 1.5em 0.25em;
    font-size: 1.25em;
    color: #1B1D26;
}

.pollist {
    margin: 0.25em;
    padding: 0.5em 1.5em 0.5em 0.5em;
}
.pollist li{
    margin: 0 0.25em 0.25em 1.25em;
    font-size: 1.25em;
    color: #1B1D26;
}

.publist {
    margin: 0.25em;
    padding: 0 0 0 1.5em;
}
.publist li{
    margin: 0 0 0 0;
    font-size: 0.9em;
    color: #1B1D26;
}

.linklist {
    margin: 0.25em;
    padding: 0 0 0 1.5em;
}
.linklist li{
    margin: 0 0 0 0;
    font-size: 1.25em;
    color: #1B1D26;
}


/* Set up definition lists for schedule */
#schedule {
    font-size: 1.1em;
}

dl {
    font-size: 1em;
}

#schedule dt {
    float: left;
    clear: left;
    text-align: right;
    font-weight: bold;
    width: 12em;
}

#schedule dt:after {
    content: ":";
}

#schedule dd {
    margin: 0 25px 0 13em;
    padding: 0 0 0.25em 0;
}

#schedule dd.break {
    padding: 0 25px 2.0em 0;
}


/* Set up definition lists for due dates */
#duedates {
    font-size: 1.1em;
}

dl {
    font-size: 1em;
}

#duedates dt {
    float: left;
    clear: left;
    text-align: right;
    font-weight: bold;
    width: 6em;
}

#duedates dt:after {
    content: ":";
}

#duedates dd {
    margin: 0 25px 0 7em;
    padding: 0 0 0.25em 0;
}

#duedates dd.break {
    padding: 0 25px 2.0em 0;
}


/* Ordered list with a), b), etc.*/
ol.alpha {
  counter-reset: list;
  margin: 0.25em 0 0 0;
  padding-left: 2.0em;
}
ol.alpha > li {
  list-style: none;
  font-size: 1.25em;
}
ol.alpha > li:before {
  content: counter(list, lower-alpha) ") ";
  counter-increment: list;
  font-size: 1.0em;
}


/* footer styles */

#footer {
	clear: both;
	margin-top: 1.0em;
	padding: 0.5em 0.5em 2em;
	background: #1B1D26;
	font-size: x-small;
	font-style: italic;
	border-top: double #1B1D26;
}

#footer p {
	margin: 0;
	color: #F3F3F3;
}

#footer a {
	color: #CCC;
	text-decoration: none;
}


/* Aligned left and right p's*/
.alignleft {
    float: left;
}

.alignright {
    float: right;
}

* {
    box-sizing: border-box;
}
