.wy-nav-side p.caption {
  color: #F1F2D8;
}

.wy-nav-side a {
  color: #D6D6D6;
}

.wy-nav-top {
  background: #1B1D26;
}

div.wy-side-nav-search {
  background: #BF3B46;
}

div.wy-side-nay {
  background: #F1F2D8;
}

table.field-list td li {
  line-height: 18px;
}

table.docutils td p {
  font-size: 14px !important;
  margin-bottom: 6px;

}

table.docutils td li {
  line-height: 18px;

}

/* override table width restrictions */
@media screen and (min-width: 767px) {

    .wy-table-responsive table td {
        /* !important prevents the common CSS stylesheets from overriding
           this as on RTD they are loaded after this stylesheet */
        white-space: normal !important;
    }
    .wy-table-responsive {
        overflow: visible !important;
    }
}
